@font-face {
    font-family: PoBebas-Regular;
    src: url(./Bebas-Regular.ttf);
   }

body {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    background-color: gray;
    
}
.wrapper {    
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    background-color: white;
 }
header {
    align-items: center;
    display: flex;
}
.photo {
width: 300px;
}
.my-name {
padding-top: 70 px;
}
.main-section {
    display: flex;
}
aside {
    color: white;
    background-color: #292934;
    width: 300px;    
    padding-left: 3em;
    padding-right: 2em;
}
main {
    padding-left: 3em;
    padding-right: 2em;
    color: white;
    background-color: #22222d;
    width: calc( 100% - 300px );
    height: calc( 100vh - 400px );
}
h1, h2 {
    font-family: 'PoBebas-Regular';
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    font-size: 5em;
    margin-left: 1em;
    vertical-align: middle;
}
h2 {
    letter-spacing: 0.1em;
    font-size: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
}
h3 {
    font-weight: 400;
    text-transform: uppercase;    
}
p {
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

a:hover,:active,:visited {
    color: white;
    text-decoration: underline;
}
a {
    color: #ffca05;
    text-decoration: underline;
}
.underline {
    color: #ffca05;
}
footer {
display: flex;
vertical-align: middle;
}
.footer-banners {
width: 100px;
}
.underhead {
    text-transform: uppercase;
    font-size: medium;
    padding-left: 4em;
}