@font-face {
    font-family: PoBebas-Regular;
    src: url(./Bebas-Regular.ttf);
   }

body {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    background-color: gray;
    
}
.wrapper {    
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    background-color: white;
 }
header {
    align-items: center;
    display: flex;
}
hr {
color: red;
width: 20px;
height: 3px;
}
.photo {
width: 300px;
}
.my-name {
padding-top: 70 px;
}
.main-section {
    display: flex;
}
aside {
    color: white;
    background-color: #292934;
    width: 300px;    
    padding-left: 3em;
    padding-right: 2em;
}
main {
    padding-left: 3em;
    padding-right: 2em;
    color: white;
    background-color: #22222d;
    width: calc( 100% - 300px );
    min-height: calc( 100vh - 400px );
}
h1, h2 {
    font-family: 'PoBebas-Regular';
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    font-size: 5em;
    margin-left: 1em;
    vertical-align: middle;
}
h2 {
    letter-spacing: 0.1em;
    font-size: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
}
h3 {
    font-weight: 400;
    text-transform: uppercase; 
}
p {
    font-weight: 300;
    margin-bottom: 1em;
}
a.link {
    color: #fd5940;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.underline {
    color: #fd5940;
}
footer {
padding: 1em 2em;
display: flex;
justify-content: end;
align-items: center;
}
.footer-banners {
width: 100px;
}
.underhead {
    text-transform: uppercase;
    font-size: medium;
    padding-left: 4em;
}
.period {
    color: black;
    background-color: #fd5940;
    padding: 0em 1em;
    margin-right: 1em;
    border-radius: 0.4em;
    font-weight: 600;
}
.prof {
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
.interval {
height: 2em;
}
code {
    overflow: auto;
    background-color: #292934;
    display: block;
    padding: 1em 1em
}
nav {
    margin-top: -2em;
    margin-left: 350px;
    position: absolute;

}
a.nav {
    color: black;
    padding-left: 2em;
}